.header{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 13px;
  height: 143px;
  width: 375px;
  background-color: #A49F9F;
}
.location{
  font-size: 50px;
}
.date{
  font-size: 25px;
  padding-bottom: 6px;
}
.time{
  font-size: 25px;
}
.header_text{
  font-family: helvetica;
}
#current{
  width:375px;
  height: 24px;
  background-color: #7B7B7B;
  font-size: 16px;
  text-align: center;
  padding-top: 6px;
  margin-top: 46px;
}
#tempature{
  text-align: center;
  width:  375px;
  height: 214px;
  background-color: #686668;
  margin-top: 14px;
}
#icon{
  text-align: center;
  width: 375px;
  height: 78px;
  background-color: #605E60;
  margin-top: 20px;
}
#weather_type{
  text-align: center;
  width: 375px;
  height: 30px;
  background-color: #4B484C;
  margin-top: 13px;
}
#boxes{
  display:flex;
  flex-direction: row;
}
.box{
  text-align: center;
  width:121px;
  height:110px;
  background-color: #3E3D3E;
  margin-top: 30px;
}
.box1_2{
  margin-right: 6px;
}
