/*********************
containerMain Styles
**********************/

.containerMain {
    height: 100vh;
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    color: #FFF;
    background-image: url('/images/earlyMngCloudy.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 100%;
}

.containerMain p {
  font-size: 5vw;
  text-align: center;
  margin-top: 30%;
}

/*********************
headerContent Styles
**********************/

.headerContent {
  width: 100%;
  height: 10%;
  text-align: center;
  color: #FFF;
  /*background-color: #9B9898;*/
}

.containerMain ul {
  align-self: center;
  width: 100%;
}

.containerMain ul li {
  margin: 0 14% 0 7%;
  list-style: none;
  display: inline;
}

/*********************
wxMain Styles
**********************/

.wxMain {
  width: 100%;
  height: auto;
  text-align: center;
  color: #FFF;
  /*background-color: #9B9898;*/
  margin: 16% 0 5% 0;
  background-image: url('/images/cloudyModern.png');
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
}

.wxMain p {
  font-size: 50vw;
  margin-top: -30%;
  text-align: center;
}

/*********************
wxBtmIcons Styles
**********************/

.wxBtmIcons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 10%;
  /*background-color: #9B9898;*/
  margin: 5% 0 5% 0;
}

/***************************
Bottom Icons Graphics Styles
****************************/

#iconOne {
  width: 30%;
  height: 100%;
  display: inline-block;
  margin: auto;
  /*background-color: #9B9898;*/
  /*border: 1px solid #CCC;*/
  box-sizing: border-box;
  background-image: url('/images/rainDrop.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

#iconTwo {
  width: 30%;
  height: 100%;
  display: inline-block;
  margin: auto;
  /*background-color: #9B9898;*/
  /*border: 1px solid #CCC;*/
  box-sizing: border-box;
  background-image: url('/images/windDirect.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

#iconThree {
  width: 30%;
  height: 100%;
  display: inline-block;
  margin: auto;
  /*background-color: #9B9898;*/
  /*border: 1px solid #CCC;*/
  box-sizing: border-box;
  background-image: url('/images/sunnyModern.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

/***************************
Dots Nav Graphics Styles
****************************/

#bottomNav {
  margin: auto;
  color: #9B9898;
}
